@page "/"
@using BlazingPizza.Model
@using BlazingPizza.Services
@inject PizzaSaleState SalesState
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject PizzaOrderState OrderState


<div class="main">
    <h1>Blazing Pizza Demo App</h1>
    <p>Today we have sold this pizzas: @SalesState.PizzaSoldToday</p>
    <ul>
       
    </ul>
    <ul class="pizza-cards">
        @if (specials != null)
        {
            @foreach (var special in specials)
            {
                @* Allow the webpage to call the server - side ShowConfigurePizzaDialog method by allowing customers to select a pizza *@
                <li @onclick="@(()=> OrderState.ShowConfigurePizzaDialog(special))" style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description;
                        <span class="price">@special.GetFormattedBasePrice()</span>>
                    </div>
                    <button @onclick="IncrementSales">Buy a Pizza</button>
                </li>
            }
        }
    </ul>
</div>

@if (OrderState.showingConfigureDialog)
{
    <ConfigurePizzaDialog Pizza="OrderState.configuringPizza"/>
}

@code{
    List<PizzaSpecial> specials = [];
    // Pizza configuringPizza;
    // bool showingConfigureDialog;

    private void IncrementSales() => SalesState.PizzaSoldToday++;

    //When the page is initialized, it adds six pizzas to the array.
    protected override async Task OnInitializedAsync()
    {
        const string getSpecials = "api/specials";
        specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(NavigationManager.BaseUri + getSpecials);
    }
   
  
}
